#blue{
    color:blue;
}
#red{
    color:red;
}
#yellow{
    color:yellow;
}
#green{
    color:green;
}
#yellow{
    color:yellow;
}
.color-title{
    font-weight: normal;
}
img{
    height:200px;
    width:200px;

}